@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #5ece7b;
  --black-color: #1d1f22;
}
body {
  transition: background 0.3s;
  overflow-x: hidden;
}
.overlay {
  overflow: hidden;
}
.overlay section::before {
  position: absolute;
  content: "";
  top: 4rem;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(57, 55, 72, 0.22);
  z-index: 10;
}
.overlay section.after::before {
  top: 0;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.after {
  position: relative;
}
.after::after {
  position: absolute;
  content: "";
}
.flex {
  display: flex;
  align-items: center;
}
.center {
  display: grid;
  place-items: center;
}
h1.center {
  text-align: center;
}
button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.main__btn {
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  color: #fff;
}
.secondary__btn {
  background-color: #fff;
  border: 2px solid #000;
  color: var(--black-color);
  font-weight: 600;
}
.mt-5 {
  margin-top: 5rem;
}

nav {
  background-color: #fff;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav__categories ul {
  display: flex;
}
.nav__categories ul li {
  margin: 0.7rem 1rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s;
}
.nav__categories ul li.active {
  color: var(--main-color);
}
.nav__categories ul li:first-child {
  margin-left: 0;
}
.nav__categories ul .after::after {
  bottom: -1.1rem;
  left: 0;
  width: 0%;
  height: 0.1rem;
  background-color: var(--main-color);
  transition: 0.3s;
}
.nav__categories ul li:hover {
  color: var(--main-color);
}
.nav__categories ul .after.active::after {
  width: 100%;
}
.nav__left {
  display: flex;
  width: 1050px;
  padding: 0.6rem 0;
  padding-left: 10rem;
}
.nav__categories {
  flex-basis: 54%;
}

.nav__right {
  display: flex;
  max-width: 73px;
  padding: 0.6rem 0;
  padding-right: 10rem;
}

.currencies__list__wrapper {
  position: relative;
  margin-right: 1rem;
  display: flex;
  border-radius: 5px;
}
.currencies__list__top {
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
}
.currencies__list__wrapper i {
  font-size: 1rem;
  margin-left: 0.7rem;
}
.nav__right .currencies__list {
  position: absolute;
  width: 74px;
  z-index: 500;
  top: 2.5rem;
  height: 0;
  background-color: #fff;
  box-shadow: 0 0 15px 0.1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: height 0.3s;
}
.nav__right .currencies__list li {
  padding: 0.7rem;
  cursor: pointer;
}
.nav__right .currencies__list li:hover {
  background-color: rgb(218, 215, 215);
}

.nav .cart__img {
  width: 1.6rem;
  height: 1.3rem;
  position: relative;
  cursor: pointer;
}
.cart__img span {
  position: absolute;
  top: -0.6rem;
  right: -0.25rem;
  background: var(--black-color);
  color: #fff;
  width: 18px;
  height: 18px;
  border-radius: 60px;
  font-size: 0.7rem;
}
.mini__cart h1 {
  padding: 2rem 0;
}
.mini__cart {
  position: absolute;
  top: 3.8rem;
  right: -200%;
  width: fit-content;
  background-color: #fff;
  transition: right 0.2s;
  z-index: 300;
  padding: 0.2rem 0.5rem;
  max-height: 85vh;
  overflow: auto;
}
.mini__cart.show {
  right: 2rem;
}
.cart__items {
  flex-direction: column;
  margin: 1rem 0;
  gap: 2rem;
}

.cart__item {
  display: grid;
  grid-template-columns: 140px 30px 1fr;
  gap: 0.5rem;
}
.mini__img {
  width: 9rem;
}
.cart__item__data {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.5rem;
}
.cart__item__data div p {
  margin-bottom: 0.7rem;
}
.cart__item__amount {
  flex-direction: column;
  justify-content: space-between;
}
.cart__item__amount span {
  font-size: 1.4rem;
}
.cart__btn {
  padding: 0.2rem 0.4rem;
  font-size: 0.6rem;
  border: 2px solid var(--black-color);
  color: var(--black-color);
}

.cart__item__img img {
  height: 9rem;
}
.price {
  font-weight: 600;
}
.attr {
  padding: 0.2rem;
  border: 1px solid #000;
  cursor: pointer;
  margin-right: 0.5rem;
}
.size {
  padding: 0.2rem;
  width: 2rem;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  border: 1.5px solid var(--black-color);
  margin-right: 0.2rem;
  cursor: pointer;
}
.size.selected,
.attr.selected {
  background-color: #000;
  color: #fff;
}
.color {
  width: 1.4rem;
  height: 1.4rem;
  background: #eeee;
  margin-right: 0.5rem;
  cursor: pointer;
}
.color.selected {
  box-shadow: 0 0 5px 1.5px var(--main-color);
}
.item .cart__btn .plus svg:nth-child(2),
.item .cart__btn .minus svg:first-of-type {
  position: absolute;
  left: 31.33%;
  right: 31.33%;
  top: 50%;
  bottom: 50%;
}
.item .attributes__container .size,
.single__product .attributes__wrapper .size {
  width: 63px;
  height: 45px;
  display: grid;
  place-items: center;
  font-size: 1rem;
  font-weight: 400;
}
.mini__cart__bottom {
  flex-direction: column;
  align-items: flex-start;
}
.mini__cart__bottom h3,
.cart__bottom__btns {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

section {
  padding: 2rem 10rem;
}
.cat__name {
  font-weight: 400;
  text-transform: capitalize;
}
.products__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-top: 2rem;
}
.product {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  max-width: 386px;
  height: 330px;
}
.product__data {
  height: 100%;
  padding: 0.5rem 0;
}
.product__img img,
.product__data {
  transition: 0.3s;
}
.product__img {
  width: 100%;
  height: 100%;
}
.product__img img {
  height: 14rem;
}
.product:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.product__data .name {
  font-weight: 300;
}
.product__data .price {
  margin-top: 0.5rem;
}
.add__to__cart__icon {
  background-color: var(--main-color);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  bottom: -10rem;
  left: 800%;
}
.add__to__cart__icon:hover {
  background: #31bb56;
}
.product:hover .add__to__cart__icon {
  bottom: 4.2rem;
  left: 75%;
}
.product.out-of-stock {
  background-color: #fff;
  opacity: 0.5;
}
.product.out-of-stock .add__to__cart__icon {
  display: none;
}

.product.out-of-stock .product__img {
  position: relative;
}
.product.out-of-stock .out-stock {
  position: absolute;
  color: rgb(133, 131, 131);
  width: 100%;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
  height: fit-content;
  margin: auto;
  text-transform: uppercase;
}
.attributes__container {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.cart__item__img {
  display: grid;
  place-items: center;
}

@media screen and (max-width: 1024px) {
  .products__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  }
  .nav__left {
    padding: 1rem 0 1rem 1rem;
  }
  .nav__right {
    padding: 1rem 1rem 1rem 0;
  }
  .product:hover .add__to__cart__icon {
    bottom: 6.2rem;
    left: 75%;
  }
  section {
    padding: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .nav__left {
    padding-top: 0.6rem;
  }
  .nav__right {
    padding-top: 0.6rem;
  }
  .nav__categories ul li {
    margin: 0.7rem 0.5rem;
  }
  .mini__cart {
    width: 100%;
    transition: 0.5s;
  }
  .cart__item p {
    font-size: 0.9rem;
  }
  .cart__item {
    width: 100%;
    grid-template-columns: 154px 43px 1fr;
  }
  .cart__item__img {
    max-width: 11rem;
    margin: auto;
  }
  .size {
    width: 1.6rem;
    font-size: 0.8rem;
  }

  .mini__cart.show {
    right: 0.5%;
  }
}
